table, th, td{
    border: 2px ridge black;
    border-collapse: collapse;
    background-color: lightpink;   
   }

th{
    width:15%;
    
}

button{
    background-color: turquoise;
}

td{
    text-align: center;
    vertical-align: middle;
}

