{% extends 'productview.html' %}

{% block content %}
<div class="loop">
    {% for i in data %}
    <table class="product-table">
        <tr >
            <td class="product-image" colspan="2">
                {% if i.Image %}
                <img src="{{i.Image.url}}" alt="product image">
                {% else %}
                No image available
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Product Name:</th>
            <td>{{i.Product_Name}}</td>
        </tr>
        <tr>
            <th>Brand:</th>
            <td>{{i.Brand}}</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>{{i.Price}}</td>
        </tr>
        <tr>
            <th>Material:</th>
            <td>{{i.Fabric_Type}}</td>
        </tr>
        <tr>
            <th>Size:</th>
            <td>
                {% if i.Free_Size %}
                Free Size
                {% else %}
                No free size available
                {% endif %}
            </td>
        </tr>
        <tr>
            <th colspan="2"><button input="submit"> Buy</button></th>
        </tr>
    </table>
    {% endfor %}
</div>

{% if user.is_authenticated %}
<div class="floating-button">
    <a href="{% url 'employeeurl' %}"><button> Employee Page </button></a>
</div>
{% endif %}

{% endblock %}